/* global stuff */
.card{
  padding: 25px;
}

.company-list{
  list-style: none;
}

/* global content sections */

.content-section{
  padding: 40px 20px 5px 20px;
}

.content-section h2{
  text-align: center;
}

.purpose-text{
  color: black;
  text-align: justify;
  font-size: 25px;
  padding: 0px 30px;
}

.purpose-text-center{
  text-align: center;
}

.purpose-text .important-text{
  font-weight: bold;
  font-size: 36px;
  color: #00ADEF;
  font-style: italic;
}



/* problems section */
#problems-section h2{
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: bold;
}

#problems-section img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

/* solutions-section */
#solutions-section h2{
  color: #01297F;
  font-weight: bold;
}

#solutions-img{
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

#solutions-section .purpose-text{
  margin-top: 40px !important;
}