<section class="content-section" id="problems-section">
  <h2>
    Exportar productos desde Colombia es un proceso ...
  </h2>
  <hr>
  <div class="container-fluid">
    <img src="assets/img/problemas.png" alt="Problemas" />
  </div>
</section>

<section class="content-section" id="solutions-section">
  <div class="container-fluid">
    <p class="purpose-text">
      Las cosas pueden hacerse mejor ... encuentra la respuesta y el experto que
      tanto buscas en FCN. Reduce tiempos, reduce costos y aumenta tu confianza
      en el comercio internacional
    </p>

    <h2>Nuestra solución</h2>
    <hr />

    <img
      src="assets/img/FCN Verde 2.png"
      alt="Nuetsra solución"
      id="solutions-img"
    />

    <p class="purpose-text">
      Y lo mejor de todo ... ¡es gratis! Únete a FCN, el comercio internacional
      nunca había sido tan fácil
    </p>
  </div>
</section>

<section class="content-section" id="benefits-section">
  <div class="container-fluid">
    <h2>Nuestros beneficios</h2>
    <img
      src="assets/img/reducciones.png"
      alt="¿Cómo te beneficiamos?"
      id="reductions-img"
    />
  </div>
</section>

<div class="main-content">
  <h2>Más sobre nosotros</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Contenido de nuestro Foro</h3>
      <div class="card" *ngFor="let question of questions">
        <div class="card-header">
          <small>
            <a [routerLink]="['/public-profile']">
              <strong> {{ question.user.name }} </strong>
            </a>
            pregunta:
          </small>
          <p>
            <em>{{ question.question }}</em>
          </p>
          <hr />
        </div>
        <div class="card-body">
          <h5>Respuestas Destacadas</h5>
          <ul>
            <li *ngFor="let answer of question.answers">
              <a [routerLink]="['/public-profile']">
                <strong>{{ answer.user.name }}</strong>
              </a>
              <p>{{ answer.answer }}</p>
            </li>
          </ul>
          <a [routerLink]="['/question']" class="btn btn-sm btn-primary">
            Ver más
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Empresas destacadas</h3>
      <div class="card">
        <div class="card-body">
          <ul>
            <li *ngFor="let company of companies" class="mb-3 company-list">
              <p>
                <a [routerLink]="['/company-public-profile']">
                  {{ company.name }}
                </a>
              </p>
              <small>Rate: {{ company.rate }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
