<section class="content-section" id="problems-section">
  <h2>Exportar productos desde Colombia es un proceso ...</h2>
  <div class="container-fluid">
    <img src="assets/img/diagramas-rojos.png" alt="Problemas" />
  </div>
</section>

<section class="content-section" id="solutions-section">
  <div class="container-fluid">
    <p class="purpose-text">
      En FIRTH Collaborative Network entendemos que las cosas pueden hacerse
      mejor, así que desarrollamos una
      <span class="important-text">
        red social especializada en la cual se comparten experiencias,
        conocimientos e información sobre los mercados internacionales
      </span>
      los procesos y la cadena logística internacional Logrando un proceso...
    </p>

    <img
      src="assets/img/diagramas-azules.png"
      alt="Nuetsra solución"
      id="solutions-img"
    />

    <p class="purpose-text mt-5 purpose-text-center">
      <span class="important-text">
        Únete a FIRTH Collaborative Network, ¡La red donde los mercados se
        conectan!
      </span>
    </p>
  </div>
</section>
