<div class="main-content">
  <h2 class="text-center">
    Hola Bienvenido a Firth <em>Colaborative network</em>
  </h2>
  <div class="row">
    <h3 class="featured-content">Contenido destacado</h3>
    <div *ngFor="let question of questions" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <small>
            <strong> {{ question.user.name }} </strong>pregunta:
          </small>
          <p>
            <em>{{ question.question }}</em>
          </p>
          <hr />
        </div>
        <div class="card-body">
          <h5>Respuestas Destacadas</h5>
          <ul>
            <li *ngFor="let answer of question.answers">
              <strong>{{ answer.user.name }}</strong
              >:
              <p>{{ answer.answer }}</p>
            </li>
          </ul>
          <button class="btn btn-sm btn-primary" >
            <a [routerLink]="['/question']">
              Ver más
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
