/* global stuff */
.card{
  padding: 25px;
}

.company-list{
  list-style: none;
}

/* global content sections */

.content-section{
  padding: 40px 20px 5px 20px;
}

.content-section h2{
  text-align: center;
}

.purpose-text{
  color: black;
  text-align: center;
  font-size: 20px;
}

/* problems section */
#problems-section h2{
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: bold;
}

#problems-section img{
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

/* solutions-section */
#solutions-section h2{
  color: blue;
  font-weight: bold;
}

#solutions-img{
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

/* benefits section */

#benefits-section{
  background-color: white;
}

#benefits-section h2{
  margin-top: 0px;
}

#reductions-img{
  display: block;
  margin: 0 auto;
  max-width: 50%;
}