<article class="row article-body">
  <div class="col-sm-4">
    <img [src]="question?.image" class="main-image" alt="imagen-de-articulo" />
    <div class="buttons-panel">
      <button class="btn btn-success">
        ({{ question?.reactions }}) <i class="pe-7s-like"></i>
      </button>
      <button class="btn btn-danger">
        <i class="fa fa-thumbs-down"></i>
      </button>
      <a class="btn btn-primary" [routerLink]="['/question']">
        ({{ question?.answers ? question.answers.length : 0 }})
        <i class="pe-7s-chat"></i>
      </a>
    </div>
  </div>
  <div class="col-sm-8" class="content-column">
    <h4 class="article-title">
      <a [routerLink]="['/question']">
        {{ question?.question }}    
      </a>
    </h4>
    <span *ngFor="let category of question?.categories" class="category">
      {{ category }}
    </span>
    <small>
      Por
      <span>
        <a [routerLink]="['/public-profile']">
          {{ question?.user?.name }}
        </a>
      </span>
    </small>
    <img
      [src]="question?.user?.image"
      class="user-image"
      alt="Imagen de perfil"
    />
  </div>
</article>
