.measures {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.measures p {
  padding-top: 10px;
}

.measures input[type='radio'] {
  transform: scale(1.5);
  margin-right: 10px;
}

.start-end-proccess{
  max-width: 90%;
  display: block;
  margin: 0 auto;
}