<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card p-5">
          <h3>Últimas preguntas</h3>
          <hr />
          <app-article-list
            *ngFor="let question of questions"
            [title]="question.question"
            [imageSrc]="question.image"
            [category]="question.category"
            [userName]="question.user.name"
            [userProfileImage]="question.user.image"
          ></app-article-list>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-5">
          <h3>Reputación empresas</h3>
          <hr />
          <div class="card-body">
            <app-company-list
              *ngFor="let company of companies"
              [companyName]="company.name"
              [companyRate]="company.rate"
              [companyImage]="company.image"
            ></app-company-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
