<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2>Perfil público</h2>
        <div class="card content-card">
          <h3 class="section-subtitle">Preguntas destacadas</h3>
          <ul>
            <li class="list-style-none" *ngFor="let question of questions">
              <p>
                {{ question.question }}
              </p>
              <small>Reacciones: {{ question.reactions }}</small>
            </li>
          </ul>
        </div>
        <div class="card content-card">
          <h3 class="section-subtitle">Respuestas destacadas</h3>
          <ul>
            <li *ngFor="let answer of answers">
              <p>
                {{ answer.answer }}
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img
              src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
              alt="..."
            />
          </div>
          <div class="content">
            <div class="author">
              <a href="#">
                <img
                  class="avatar border-gray"
                  src="assets/img/faces/face-3.jpg"
                  alt="..."
                />

                <h4 class="title">
                  David García<br />
                  <small>davidG@unal.edu.cos</small>
                </h4>
              </a>
            </div>
            <p class="description">
              Bienvenidos a mi perfil, me ecanta ayudar a las personas a
              potenciar los negocios
            </p>
            <h4>Información</h4>
            <p>Empresa: <a [routerLink]="['/company-public-profile']">Exportadora de colombia SAS</a></p>
            <p>Cantidad de preguntas: 50</p>
            <p>Cantidad de respuestas: 110</p>
            <p>Rol: Oferente</p>
            <p>Rate: 4.5</p>
          </div>
          <hr />
          <div class="text-center">
            <button href="#" class="btn btn-simple">
              <i class="fa fa-facebook-square"></i>
            </button>
            <button href="#" class="btn btn-simple">
              <i class="fa fa-twitter"></i>
            </button>
            <button href="#" class="btn btn-simple">
              <i class="fa fa-google-plus-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
